ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=atlas
POSTGRES_USER=atlas
POSTGRES_PASSWORD=atlas_dev_password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
RABBITMQ_DEFAULT_USER=atlas
RABBITMQ_DEFAULT_PASS=atlas_dev_password
ATLAS_API_IMAGE=atlas-api:local
ATLAS_WEB_IMAGE=atlas-web:local
